@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,700&display=swap" rel="stylesheet') ;
:root {
   font-family: 'Roboto', sans-serif;
   --background-color: #d4e3fc;
}
body {
    max-width: 980px;
    margin: auto;
}
h2 {
    margin: 10px;
    padding: 0;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
  }

img.image {
     width: 100%;
}