@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,700&display=swap" rel="stylesheet') ;
:root {
   font-family: 'Roboto', sans-serif;
    --main-color: black;
    --accent-color: gray;
    --background-color: #d4e3fc;
    scroll-behavior: smooth;
}

h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}
h1
{
    color: red;
}
 h2 {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
 }

header nav .logo  {
    font-family: 'Roboto', cursive;
    font-size: 2rem;
    font-style: italic;
    text-align: left;
    width: 350px;
    
            }
span {
    color: var(--main-color);
    font-size: 1rem;
    text-align: center;
}
header nav .top-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 27px;
    background-color: var(--background-color);
    margin: 1px;
    }
header nav .top-menu li a  {  
    color: var(--main-color);
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
}
header nav .top-menu li a:hover {
    border: 1px solid var(--main-color);

}
@media (min-width: 500px) {
    header nav {
        display: flex;
        align-items: center;
        
    }

    header nav .top-menu {
        flex: 1;
        margin: 0;
           }
}
main .banner {
    background-image: url(../img/mountains.jpg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
   
     
}
@media (min-width: 500px) {
    main .banner {
         display: grid; 
         justify-content: space-between;  
         grid-template-columns:1fr; 
          }
   }

@media (min-width: 660px) {
    main .banner {
        grid-template-columns:1fr 1fr;
            }
}


main .banner a {
    background-color: var(--background-color);
    border: 1px solid #000000;
    color: gray;
    padding: 10px;
    width: 200px;
    height: 20px;
    position: relative;
    text-decoration: none;
    text-align: center;
    }
main .banner p:hover {
  background-color: #c5e0e9;
  cursor: pointer;
}

main .banner p:active {
  box-shadow: none;
  top: 5px;
}
article {
  position: relative;
  width: 980px;
  height: 250px;
  background-color: #f0f4f5;
 }
main .services-list .service-card img.service-image {
    display: block;
    width: 100%;
    }
main .services-list .service-card img.service-image {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 660px) {
    main .services-list {
        display: grid; 
        grid-template-columns: 1fr 1fr;  
        grid-gap: 5px; 
}

@media (min-width: 500px) {
    main .services-list {
        grid-template-columns: 1fr;  
    }
}
}