@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,700&display=swap" rel="stylesheet') ;
:root {
   font-family: 'Roboto', sans-serif;
    --main-color: black;
    --accent-color: gray;
    --background-color: #d4e3fc;
    scroll-behavior: smooth;
}

h1, h2, p, ul, hr {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}
h1 {
    color: red;
    text-align: center
}
 h2 {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
 }

header nav .logo  {
    font-family: 'Roboto', cursive;
    font-size: 2rem;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-items: center;
    
            }
span {
    color: var(--main-color);
    font-size: 1rem;
    text-align: center;
}
@media (min-width: 500px) {
    header nav .logo{
    justify-items: flex-start;
    }
}

header nav .top-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--background-color);
    margin: 1px;
    }
    
header nav .top-menu li a  {  
    color: var(--main-color);
    text-decoration: none;
    border: 1px solid transparent;
    padding: 0px;
   }

header nav .top-menu li a:hover {
    border: 1px solid var(--main-color);
}
@media (min-width: 500px) {
    header nav {
        display: flex;
        align-items: center;
               }
}
@media (min-width: 660px) {
header nav  {
    justify-content: space-between;
}

}

main .banner {
    background-image: url(../img/mountains.jpg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  main .banner .end-button {
      margin-bottom: 150px;
  }
main .banner a {
    background-color: var(--background-color);
    border: 1px solid #000000;
    border-radius: 0.19em;
    color: gray;
    padding: 10px;
    width: 200px;
    height: 20px;
    position: relative;
    text-decoration: none;
    text-align: center;
       }

main .banner a:hover , .text-field:hover, .propBut:hover {
  background-color: #72b6cc;
  cursor: pointer;
}

main .banner a:active {
  box-shadow: none;
  top: 5px;
}

@media (min-width: 500px) {
    main .banner {
         display: grid; 
         grid-template-columns:1fr 1fr; 
         align-items: center;
          }
    .pre-end-button {
       margin-bottom: 150px; 
    }
   }
article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

main .services-list .service-card img.service-image {
  display: block;
  width: 100%;
      }
.service-card h2 {
  display: flex;
  align-items: center; 
  position: relative;
  height: 100px;
}

.services-list {
        display: grid; 
        grid-template-columns: 1fr;  
        grid-gap: 25px; }


@media (min-width: 500px) {
 .services-list {
        grid-template-columns: 1fr 1fr;  
            }
    }
main .services-list .service-card p {
    margin: 10px;
    display: flex;
    justify-content: center;
}
main .services-list .service-card a, .propose button, .text-field {
    background-color: var(--background-color);
    color: #484a4b;
    border: thin solid black;
    border-radius: 0.12em;
    padding: 0px 3px 3px 3px;
    margin: 0px;
    text-decoration: none;
    text-align: center;
            }
    
main .services-list .service-card a:hover {
  background-color: white;
  cursor: pointer;
}

main .services-list .service-card a:active {
  box-shadow: none;
  top: 5px;
}
 @media (min-width: 500px) {
     main .service-card h2 {
         font-size: 18px;
     }
 }
  @media (min-width: 660px) {
     main .service-card h2 {
         font-size: 2rem;
     }
 }
.propose p {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin: 10px;
    text-align: center
}
.propose label, input {
    font-size: 16px;
    text-align: center;   
    margin: 15px;
}
.propose button {
    padding: 5px;
    margin: 10px 30px 10px 30px;
    text-align: center;   
}
.propose input {
    padding: 0px 3px 3px 3px;
       
}

.contactUs .text-field, .contactUs p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center
}
.contactUs p, .hours {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.ourContacts {
    background-color: #d3e8f3;
    border: thin solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
  .cont {
     margin: 8px;
 }
.ourContacts p {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
@media (min-width: 660px) {
    .contactInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        grid-gap: 25px; 
        text-align: center;
        }
    }


@media (min-width: 660px) {
    .ourContacts {
    background-color: white;
    border:none;
}
}
.weatherTitle p {
    font: 204px;
}
.weather {
    background-color: rgb(203, 204, 204);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font: 24px sans-serif;
    color: rgba(204, 0, 0, 0.692);
    
    text-decoration-color: black
}