@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,700&display=swap" rel="stylesheet');
:root {
   font-family: 'Roboto', sans-serif;
    --main-color: black;
    --accent-color: gray;
    scroll-behavior: smooth;
}
h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}
h1
{
    color: red;
}

header nav .logo  {
    font-family: 'Roboto';
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    
            }
span {
    color: var(--main-color);
    font-size: 1rem;
    text-align: center;
}
header nav .top-menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 1rem;
    padding: 25px;
    background-color: #d4e3fc;
}
header nav .top-menu li a  {  
    color: var(--main-color);
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
}
header nav .top-menu li a:hover {
    border: 1px solid var(--main-color);
}
@media (min-width: 500px) {
    header nav {
        display: flex;
        align-items: center;
        
    }

    header nav .top-menu {
        flex: 1;
        margin: 0;
           }
}
main .banner {
    background-image: url(../img/mountains.jpg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
   
}
main .banner p {
    color: var(--accent-color);
}
.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #dbfffe;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #dbfffe;
    text-align: center;
    transition: all 0.7s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #dbfffe;
    cursor: pointer;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    background-color: black;
    color: #dbfffe;
}