@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet');
:root {
   font-family: 'Montserrat Alternates', sans-serif;
    --main-color: black;
    --accent-color: white;
    scroll-behavior: smooth;
}
h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}
h1
{
    color: red;
}

header nav .logo h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    text-align: center;
            }
span {
    color: var(--main-color);
    font-size: 1rem;
    text-align: center;
}
header nav .top-menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 1rem;
    padding: 7px;
}
header nav .top-menu li a  {  
    color: var(--main-color);
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
}
header nav .top-menu li a:hover {
    border: 1px solid var(--main-color);
}
@media (min-width: 500px) {
    header .logo nav {
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    header nav .top-menu {
        flex: 1;
        margin: 0;
           }
}